* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

.images {
    width: 400px;
    border-color: green;
    border-width: 6px;
    border-style: solid;
    border-style: inset;
}


witdh